@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
h1 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}
#year{
  font-size: 1.5em;
}
#plot{
  font-style: italic;
}
.principal{
  font-weight: bold;
}
#websites{
  list-style-type: none;
}